[data]
  machine = {{ .chezmoi.hostname | quote }}
  terminal = {{ promptChoice "terminal" (list "wezterm" "kitty" "alacritty" "none") "wezterm" | quote }}

[git]
  autoCommit = false
  autoPush = false

[sourceVCS]
  url = "git@github.com:bavanchun/dotconfig-term.git"
